@page
@model ST24.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Our Services";
}

<!-- Page Title -->
<section class="page-title" style="background-image: url(/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Services</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- service-section -->
<section class="service-section sec-pad-2">
    <div class="auto-container">
        <div class="inner-container mr-0">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-1.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-window"></i></div>
                                <h3><a href="/services/curtainslaundry">Curtains Laundry</a></h3>
                                <p>
                                    Laundrying of curtains is the most effective way of getting rid of dirt and dust accumulated overtime.
                                </p>
                                <div class="link"><a href="/services/curtainslaundry"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-2.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-drying"></i></div>
                                <h3><a href="/services/drycleaning">Dry Cleaning</a></h3>
                                <p>We handle dry cleaning of the most delicate of fabrics that are non-toxic to your material.</p>
                                <div class="link"><a href="/services/drycleaning"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-3.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-rinse"></i></div>
                                <h3><a href="/services/stainremovals">Stain Removals</a></h3>
                                <p>Stains can ruin your clothings. We take your worries and apply the right stain remover on your garment</p>
                                <div class="link"><a href="/services/stainremovals"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-4.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-ironing-board"></i></div>
                                <h3><a href="/services/ironclothes">Iron Clothes</a></h3>
                                <p>We follow proper clothe ironing guidelines to ensure stains are not permenently glues to your materials.</p>
                                <div class="link"><a href="/services/ironclothes"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-5.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-laundry-1"></i></div>
                                <h3><a href="/services/leatherstuff">Leather Stuff</a></h3>
                                <p>We specialize in Leather cleaning and restoration of leather materials to its original state.</p>
                                <div class="link"><a href="/services/leatherstuff"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-6.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-washing-machine-1"></i></div>
                                <h3><a href="/services/commerciallaundry">Commercial Laundry</a></h3>
                                <p>Lorem ipsum dolor sit amet ctetur cing elituspe ndisse cip simply consectetur adipisicing elit.</p>
                                <div class="link"><a href="/services/commerciallaundry"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section end -->