@page
@model ST24.Pages.Services.LeatherStuffModel
@{
    ViewData["Title"] = "Leather Stuff";
}

<!-- Page Title -->
<section class="page-title" style="background-image: url(/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Leather Stuff</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Home</a></li>
                <li>Service Details</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- service-details -->
<section class="service-details sec-pad-2">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar">
                    <div class="categories-widget">
                        <div class="widget-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="categories-list">
                                <li><a href="/services/curtainslaundry">Curtains Laundry</a></li>
                                <li><a href="/services/drycleaning">Dry Cleaning</a></li>
                                <li><a href="/services/stainremovals">Stain Removals</a></li>
                                <li><a href="/services/ironclothes">Iron Clothes</a></li>
                                <li><a href="/services/leatherstuff" class="current">Leather Stuff</a></li>
                                <li><a href="/services/commerciallaundry">Commercial Laundry</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="support-box centred" style="background-image: url(/assets/images/resource/support-1.jpg);">
                        <div class="inner">
                            <h2>Order Service Right Now</h2>
                            <div class="icon-box"><i class="flaticon-mobile-app"></i></div>
                            <h3><a href="tel:+2348167877465">0816 787 7465</a></h3>
                            <p>Call Anytime For Order</p>
                        </div>
                    </div>
                    <div class="download-borucher">
                        <a href="/placeorder">ORDER SERVICE NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box">
                            <img src="/assets/images/service/service-12.jpg" alt="">
                            <div class="icon-box"><i class="flaticon-drying"></i></div>
                        </figure>
                        <div class="text">
                            <h2>Leather Stuff</h2>
                            <p>
                                Leather materials soiled by sweat or normal dirt on specific areas requires customers to seek specialist help.
                                "Grease and sweat marks on the collar" or soiled sleeve cuffs are typical on leather clothing.
                                Leather clothing may require occasional localised cleaning to combat fading. 
                            </p>
                            <p>
                                In such cases,
                                it is not "cleaning" in the classical sense, but specialized leather cleanering agent are used
                                to carry out such kind of dry cleaning service and preserving the colouring work of the leather.
                            </p>
                        </div>
                    </div>
                    <div class="content-two">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><i class="flaticon-laundry-1"></i></div>
                                    <h4>Satisfaction Guarantee</h4>
                                    <p>With our diligent hard working staff, you are guaranteed that your clothes will be treated with care.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><i class="flaticon-washing"></i></div>
                                    <h4>10+ Years Experience</h4>
                                    <p>With our over 10 years of laundry services, our experince surely stands as our testimony of good services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two-column">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                <figure class="image"><img src="/assets/images/service/service-8.jpg" alt=""></figure>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                                <div class="text">
                                    <h3>Why You Should Hire Us?</h3>
                                    <h4>These are some of our ethics and practices that has kept us going.</h4>
                                    <ul class="list-item clearfix">
                                        <li>Quality cleaning system</li>
                                        <li>100% satisfaction guarantee</li>
                                        <li>Highly professional staff</li>
                                        <li>Deliver always on time</li>
                                        <li>Cleaning is our first priority</li>
                                        <li>Professional and qualified</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-three">
                        <div class="text">
                            <h3>More Benefits</h3>
                            <p>We use the right detergent and stain desolving solvents according to the material we're dealing with thereby preserving the texture and quality of the material'</p>
                        </div>
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-plus"></i></div>
                                    <h5>How to order for dry cleaning service</h5>
                                </div>
                                <div class="acc-content">
                                    <p>You can order for your dry cleaning services by reaching out to our various physical pick-up locations or by <a href="/placeorder">placing order request(s)</a> directly on our website and our designated agent will locate you</p>
                                </div>
                            </li>
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="fas fa-plus"></i></div>
                                    <h5>What are your charges like?</h5>
                                </div>
                                <div class="acc-content current">
                                    <p>We are temperate with our prices when you put into consideration the amount of services we render to give you the best of cleaning </p>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-plus"></i></div>
                                    <h5>How to contact with our laundry experts</h5>
                                </div>
                                <div class="acc-content">
                                    <p>You can contact us via the <a href="/contact">contact us page</a> or by reaching out on our mobile line '+234(0)808 816 0309'</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->
