@page
@model ST24.Pages.Admin.CreateModel
@{
    ViewData["Title"] = "Create Account";
}

<!-- Page Title -->
<section class="page-title" style="background-image: url(/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Create Account</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/admin/dash-board">Home</a></li>
                <li>Create Account</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- contact-style-two -->
<section class="contact-style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 form-column">
                <div class="content_block_6">
                    <div class="content-box">
                        <div class="sec-title">
                            <p>New Collection Point</p>
                            <h2>Create New Agent</h2>
                            <img src="/assets/images/icons/icon-1.png" alt="">
                        </div>
                        <form method="post" id="create-account-form" class="default-form" novalidate="novalidate">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" id="email" placeholder="Email Address" required="" aria-required="true">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="fullname" id="fullname" placeholder="Full Name" required="" aria-required="true">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                    <input type="text" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="11" name="phone" id="phone" required="" placeholder="Phone Number" aria-required="true">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="state" id="state" required="" placeholder="State" aria-required="true">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="location" id="location" placeholder="Location" required="" aria-required="true">
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                    <input type="password" name="password" id="password" required="" placeholder="Password" aria-required="true">
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                    <input type="password" name="cnfpassword" id="cnfpassword" required="" placeholder="Confirm Password" aria-required="true">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                    <img src="/assets/images/gifs/loader_1.gif" id="action_loading" class="hidden" height="280" width="260" />
                                    <button class="theme-btn style-one" type="button" id="btncreate" name="btncreate">Add Agent</button>
                                    <span class="error-image error-section" id="error-message">

                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="blog-sidebar">
                    <div class="sidebar-widget category-widget">
                        <div class="widget-title">
                            <h4>Links</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="category-list clearfix">
                                <li><a href="/admin/dash-board">Dashboard</a></li>
                                <li><a href="/admin/create">Create New Agent</a></li>
                                <li><a href="/admin">View Requests</a></li>
                                <li><a href="/admin/collections">View Collections</a></li>
                                <li><a href="/admin/additems">Add Items</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-style-two end -->

<style type="text/css">
    .text-error {
        color: red;
    }

    .hidden {
        display: none;
    }
</style>

<script type="text/javascript" src="/assets/st24js/AdminScript.js"></script>

<script type="text/javascript">
    if (localStorage.getItem("login_id") == null) {
        location.href = "/";
    }
</script>
