@page
@model ST24.Pages.Admin.Monthly_HistoryModel
@{
    ViewData["Title"] = "Transaction History";
}

<!-- Page Title -->
<section class="page-title" style="background-image: url(/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Transaction History</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/admin/dash-board">Home</a></li>
                <li>Transaction History</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<section class="pricing-section">
    <div class="map-layer" style="background-image: url(/assets/images/shape/map-1.png);"></div>
    <div class="auto-container">
        <div class="sec-title centred">

            <p>Steezz Transaction History - <span id="history_month"></span></p>
            <h2>Grand Total: <span id="grand_total"></span></h2>
            <img src="/assets/images/icons/icon-1.png" alt="">
        </div>
        <div class="pricing-inner centred">
            <div class="row clearfix" id="week_1">
                <div class='col-lg-3 col-md-6 col-sm-12 pricing-block' id="loading">
                    <h2><span>Loading... Transactions History</span> </h2>
                </div> 
            </div>
        </div>

    </div>
</section>
<!-- contact-style-two -->
<!-- contact-style-two end -->
<div id="monthly_transaction_history"></div>
<style>
    .hidden {
        display: none;
    }
</style>
<script type="text/javascript" src="/assets/st24js/AdminScript.js"></script>

<script type="text/javascript">
    if (localStorage.getItem("login_id") == null) {
        location.href = "/";
    }
</script>
