@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- banner-section -->
<section class="banner-section">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/assets/images/banner/banner-1.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h4>Your Best Laundry Solution</h4>
                    <h1>Laundry and Dry Cleaning Services</h1>
                    <div class="btn-box">
                        <a href="/placeorder" class="theme-btn style-two">ORDER SERVICE NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item bg-left">
            <div class="image-layer" style="background-image:url(/assets/images/banner/banner-2.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h4>Your Best Laundry Solution</h4>
                    <h1>Laundry and Dry Cleaning Services</h1>
                    <div class="btn-box">
                        <a href="/placeorder" class="theme-btn style-two">ORDER SERVICE NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item bg-left">
            <div class="image-layer" style="background-image:url(/assets/images/banner/banner-3.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h4>Your Best Laundry Solution</h4>
                    <h1>Laundry and Dry Cleaning Services</h1>
                    <div class="btn-box">
                        <a href="/placeorder" class="theme-btn style-two">ORDER SERVICE NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- about-section -->
<section class="about-section">
    <div class="image-layer" style="background-image: url(/assets/images/icons/buble-2.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div class="image_block_1">
                    <div class="image-box">
                        <figure class="image clearfix"><img src="/assets/images/resource/about-1.jpg" alt=""></figure>
                        @*<div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption=""><i class="fas fa-play"></i></a>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">
                            <p>Our Services List</p>
                            <h2>Your Quality Laundry Provider in Abuja &amp; More</h2>
                            <img src="/assets/images/icons/icon-1.png" alt="">
                        </div>
                        <h3>Committed To Delivering High Quality Laundry & Dry Cleaning Services And Ironing of Clothes!</h3>
                        <ul class="list-item clearfix">
                            <li>Quality cleaning system</li>
                            <li>Deliver always on time</li>
                            <li>100% satisfaction guarantee</li>
                            <li>Cleaning is our first priority</li>
                            <li>Highly professional staff</li>
                            <li>Professional and qualified</li>
                        </ul>
                        <div class="text">
                             
                        </div>
                        <div class="btn-box">
                            <a href="/placeorder" class="theme-btn style-one">Order Service now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
<!-- service-section -->
<section class="service-section">
    <div class="auto-container">
        <div class="sec-title centred">
            <p>Our Services List</p>
            <h2>Some Services We’re Offering</h2>
            <img src="/assets/images/icons/icon-1.png" alt="">
        </div>
        <div class="inner-container wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-1.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-window"></i></div>
                                <h3><a href="/services/curtainslaundry">Curtains Laundry</a></h3>
                                <p>Steezz24 curtain cleaning services provides removal and installation of curtains to its clients</p>
                                <div class="link"><a href="/services/curtainslaundry"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-2.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-drying"></i></div>
                                <h3><a href="/services/drycleaning">Dry Cleaning</a></h3>
                                <p>We handle dry cleaning of the most delicate of fabrics. We put into consideration the material or fabric.</p>
                                <div class="link"><a href="/services/drycleaning"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/images/service/service-3.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-rinse"></i></div>
                                <h3><a href="/services/stainremovals">Stain Removals</a></h3>
                                <p>We take the worries of stains from you and apply the right stain remover that'll suit the texture of your fabric.</p>
                                <div class="link"><a href="/services/stainremovals"><i class="fas fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section end -->
<!-- funfact-section -->
<section class="funfact-section bg-color-1 centred">
    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-1.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="1000">0</span>+
                        </div>
                        <p>Laundry Clothes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="1000">0</span>+
                        </div>
                        <p>Iron Clothes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="1000">0</span>+
                        </div>
                        <p>Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-block">
                <div class="counter-block-one wow slideInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="1500" data-stop="777">0</span>+
                        </div>
                        <p>Happy Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-section end -->
  
<!-- chooseus-section -->
<section class="chooseus-section bg-color-3">
    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-3.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 left-column">
                <div class="content_block_2">
                    <div class="content-box">
                        <div class="sec-title">
                            <p>Why Choose Us</p>
                            <h2>Our Laundry Benefits</h2>
                            <img src="/assets/images/icons/icon-1.png" alt="">
                        </div>
                        <div class="inner-box clearfix">
                            <figure class="star-icon"><img src="/assets/images/icons/star-1.png" alt=""></figure>
                            <div class="single-item">
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-save-money"></i></div>
                                    <h4>Affordable Pricings</h4>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-laundry-1"></i></div>
                                    <h4>Instant Order Update</h4>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-washing"></i></div>
                                    <h4>Best Clean Results</h4>
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-delivery"></i></div>
                                    <h4>Express Fast Delivery</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 right-column">
                <div class="content_block_3">
                    <div class="content-box">
                        <div class="text"> 
                            <p>We provide the most affordable laundry services with utmost attention to the solvent applied on your fabrics/materials</p>
                        </div>
                        <div class="image-box">
                            <figure class="image"><img src="/assets/images/resource/chooseus-1.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chooseus-section end --> 
<!-- testimonial-section -->
<section class="testimonial-section bg-color-1 sec-pad">
    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-4.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12 title-column">
                <div class="title-inner">
                    <div class="sec-title light">
                        <p>Testimonials</p>
                        <h2>What They Are Talking</h2>
                        <img src="/assets/images/icons/icon-2.png" alt="">
                    </div>
                    <div class="customer-box">
                        <div class="icon-box"><i class="flaticon-ratings"></i></div>
                        <h2>777+</h2>
                        <h4>Customers are satisfied</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 inner-column">
                <div class="testimonial-inner">
                    <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/assets/images/resource/testimonial-1.png" alt=""></figure>
                                <h3>I was very impresed by Steezz24 Laundry Services. The fact that i got my clothes delivered to me despite the short notice given them makes them my No. 1 go to for my laoundry services</h3>
                                <h4>Jide  /  <span>Customer</span></h4>
                                <div class="quote-box"><i class="flaticon-right-quote"></i></div>
                            </div>
                        </div>
                        <div class="testimonial-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="/assets/images/resource/testimonial-2.png" alt=""></figure>
                                <h3>I was stuck between doing my laundry and house chores when i got wind of Steezz24 Laundry. My saturday work-load has greatly reduced and i now have more time playing with my kids.</h3>
                                <h4>Helen  /  <span>Customer</span></h4>
                                <div class="quote-box"><i class="flaticon-right-quote"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-section end -->  